body,html{
  padding:0;
  margin:0;
  min-height: 100%;
}
.internship-flag{
  width: 300px;
  height: 70px;
  margin:0;
  padding:0;
  background: #954f4f;
  border-bottom-right-radius: 30px;
  position: relative;
  left:0px;
  transition: all 1.2s ease-in-out;
  align-items: center;
  z-index: 900;
}
.readmore{
  color: #ffc166;
  font-size: 20px;
  text-decoration: underline;
}
.internship-content{
  line-height: 1.7;
  font-size: 17px;
}
.main-content .internship-flag > p{
  color: #fff;
  margin:0;
  padding-right: 20px;
  padding-top: 5px;
  text-align: right;
  font-size: 20px;
  overflow:visible;
}
.internship-flag:hover{
  border-bottom-right-radius: 150px;
  transition: all 1.5s ease;
  width: 100%;
  max-width: 1000px;
  height: 200px;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-size: 17px;
  font-family: 'open serif', sans-serif;
}
h2{
  font-size: 2em;
  letter-spacing: 2px;
  color: #7b728d;
}
.gmap-links{
	text-decoration: none;
	color: #5151d2;
}
.gmap-links:hover{
	color: #6f6fb1;
}
/* SIDEBAR NAVIGATOR */
.sidebar{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  width: 25%;
  z-index: 990;
  color: #fff;
}
.sidebar-bg{
  position: absolute;
  z-index: -3;
  top:0;
  bottom:0;
  left:0;
  right:0;
  min-height: inherit;
  background: rgba(0, 0, 0, 0.7);
}
.sidebar-img{
  margin-top: 30px;
  width: 150px;
  height: 150px;
}

.sidebar-img img{
  border-radius: 180px;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.sidebar-header{
  margin-top: 25px;
  width: 220px;
  text-align: center;
}
.sidebar-header h1, .sidebar-header h3{
  font-family: 'Charmonman', cursive;
  letter-spacing: 1.5px;
  font-size: 1.3em;
  padding: 5px 0;
  margin: 0;
  color:  #ffffff;
}
.sidebar-header h3{
  font-weight: 100;
  font-size: 1em;
}
.sidebar-nav{
  width: 190px;
  margin: 20px auto;
}
.sidebar-nav ul{
  list-style: none;
  margin: 0;
  padding:0;
}
.sidebar-nav a{
  display: block;
  padding-top: 25px;
  margin:0;
  width: 100%;
  color: rgba(255,255,255,0.8);
  font-size: 17px;
  text-decoration: none;
}
/*Link effects*/
.sidebar-nav a:after{
  content: ' ';
  display: inline-block;
  color:red;
  width: 0;
  height: 0;
  margin-left: 25px;
  opacity: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid rgba(238, 225, 123, 1);
  border-bottom: 5px solid transparent;
  transition: all 0.5s ease;
}
.sidebar-nav a:hover:after{
  opacity: 1;
  margin-left: 10px;
}
.sidebar-nav a:hover{
  color: #eced9d;
}
.sidebar-social a{
  color: #F2FFF7;
  font-size: 1.3em;
}
/*End of link effects*/
.sidebar-social{
  padding-top: 25px;
  width: 180px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.sidebar-social a:hover{
  color: #eced9d;
}

/*END SIDENAVBAR*/


/*MAIN */
.container{
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: -3;
  background-image: url("media/container-bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow-y: scroll;
  /* funkar inte för IE etc */
  /* scroll-behavior: smooth; */
}

.main-content{
  margin-left: 25.26%;
  max-width: 1000px;
  min-height: 100vh;
  background: #ffffff;
  box-shadow: 1px 2px 3px rgba(22,22,22,0.5);
}
.main-content h3{
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
  color: #009688;
}
.main-content p{
  color: #757575;
}
.main-content:nth-child(even){
  background: #f3f3f3;
}
.aboutme-text{
  padding: 20px 0;
}
.main-content .table-header{
  display: inline-block;
  color: #009688;
  border-radius: 10px;
  text-align: left;
  padding: 0 5px;
  margin: 10px auto;
}
.content-header{
  text-align: center;
  padding: 10px 0;
  margin:0;
}
.inner-main{
  height: 100%;
  padding: 50px 60px 10px 60px;
  line-height: 1.7;
}
div.aboutme{
  max-width: 600px;
  padding: 10px 0;
  margin: auto;
}

/*SKILL */
.flex-table{
  width: 70%;
  height: 50%;
  margin: auto;
  margin-top: 40px;
}
.row *{
  padding:0;
  margin:0;
}
.row p{
  margin-left: 5px;
}
.row .codebar{
  height: 30px;
  text-align: right;
  border-radius: 5px;
  opacity:0;
  color: #555555;
  transition: all 1s ease-in-out;
}

.row .codebar *{
  margin-right: 5px;
}
.html-column{
  background: #ffbbbb;
  width: 10%;
}
.css-column{
  background: #eeb27b;
  width: 10%;
}
.js-column{
  background: #d7ede2;
  width: 10%;
}
/*STYLING PORTFOLIO*/
.card{
  width: 30%;
  margin-bottom: 50px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.card-img{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: flex-start;
  overflow:hidden;
}
.card-img img{
  z-index: 3;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-content{
  z-index: 2;
  padding: 8px;
}
.card-text{
  height: 120px;
}
.flex-columns{
  display:flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-rows{
  display:flex;
  flex-flow: row wrap;
  min-height: 600px;
  margin-top: 25px;
  align-content: center;
  justify-content: space-between;
}
/*Hide mobile nav*/
.mobile-nav{
  display:none;
}
.mobileNavBtn{
  display:none;
}
#contact{
  background-image: url('media/bg-contact.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*contact form styling*/
textarea{
  resize: vertical;
  width: 100%;
  margin: 5px 0;
  max-width: 400px;
  border:none;
  box-shadow: 0 0 1px  black;
  outline-color: rgba(12,123,41,0.5);
  border-radius: 5px;
}
input{
  display: block;
  padding-left: 5px;
  width: 40%;
  font-size: 19px;
  height: 35px;
  min-width: 400px;
  margin: 10px 0;
  border:none;
  box-shadow: 0 0 1px  black;
  outline-color: rgba(12,123,41,0.5);
  border-radius: 5px;
}
.form-group{
  margin: 25px 0;
}
button{
  display: block;
  align-self: flex-start;
  box-shadow: 0 0 1px  black;
  border:none;
  margin: 5px 0;
  background: #2196f3;
  color: #fff;
  font-size: 1.3em;
  height: auto;
  width: 100px;
  transition: background 200ms ease-in-out;
}
button:hover{
  background: #52b3ff;
}
button:focus{
	background: #52b3ff;
}
/*makes the field not visible to humans*/
#honeypot {
  display: none;
}
/*Thank you message after submit*/
#thankyou_message{
  display: block;
  text-align: center;
}
#thankyou_message h2{
  color: #2196f3;
  font-size: 1em;
}

/*Foooter*/
.main-footer{
  position: relative;
  bottom: 0;
  right: 0;
  max-width: 1000px;
  margin-left: 25.25%;
  background: #201f22;
}
.main-footer * {
  padding: 5px;
}
.main-footer a:hover{
  color: #252525;
}
.footer-social{
  max-width: 300px;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #f3f3f3;
}
.footer-social li a{
    color: #ffffff;
}
.footer-social li a:hover{
  color: #eced9d;
}
.cpy-right{
  font-size:23.5px;
}
/*Loader*/
.loader-active{
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 50px;
  border: 12px solid #f3f3f3;
   border-top: 12px solid #3498db;
  right: 40%;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive styles*/
@media screen and (max-width: 1100px){
  .card{
    width: 45%;
  }
}
@media screen and (max-width: 830px){
 :root {
  --mobileBg: #353539;
 }
  /* SIDEBAR NAVIGATOR HORIZONTAL*/
  .m-bg-img{
    position: absolute;
    top:0;
    width: 100%;
    z-index: -4;
    height: 100%;
    background-image:url('media/mobile-bakground.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  .sidebar{
    position: relative;
    width: 100%;
    color: #fff;
  }
  .sidebar-bg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  /* Main content sections*/
  .container{
    position: relative;
    height: 100%;
    z-index: 0;
    overflow-y: hidden;
  }

  .main-content{
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 1px 2px 3px rgba(22,22,22,0.5);
  }
  .content-header{
    margin:0;
  }
  /* Portfolio 2 rows */
  .sidebar-nav{
    width: 100%;
    margin:0;
    order: 1;
  }
  .sidebar-img{
    margin-top: 50px;
    order:2;
  }
  .sidebar-header{
    margin: 25px;
    order:3;
  }
  .sidebar-social{
    order:4;
    margin-bottom: 10px;
  }
  .sidebar-content{
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*Getting nav to top right*/
  .sidebar-nav ul{
    display:flex;
    justify-content: flex-end;
  }
  .sidebar-nav ul li{
    float:left;
  }
  /*Disable old settings*/
  .sidebar-nav a:before,
  .sidebar-nav a:after{
    all: unset;
    margin:0;
  }
  .sidebar-nav a{
    margin-right: 1em;
  }

  /* Fixed Navigator bottom for smaller screens*/
  .navigator-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:10px;
    right: 10px;
    z-index:993;
    height: 40px;
    width: 40px;
    border-radius: 180px;
    background: var(--mobileBg);
  }
  .navigator-btn:hover{
    cursor:pointer;
  }
  .navigator-btn span,
  .navigator-btn span:before,
  .navigator-btn span:after{
    display: block;
    height: 2px;
    width: 20px;
    background: white;
    transition: 0.5s;
  }

  .navigator-btn span:after,
  .navigator-btn span:before{
    position: absolute;
    content: "";
  }
  .navigator-btn span:after{
    top: 13px;
  }
  .navigator-btn span:before{
    bottom: 13px;
  }
  /* Navigator button turns activ AKA X*/
  .hamburger{
    transition: 0.5s;
  }

  label.navigator-btn-active .hamburger{
    background: rgba(0,0,0,0);
  }
  label.navigator-btn-active .hamburger:before{
    transform: rotate(140deg);
    transition: 0.5s;
    position: relative;
    top: 0px;
  }
  label.navigator-btn-active .hamburger:after{
    transform: rotate(-140deg);
    transition: 0.5s;
    position: relative;
    top: -2px;
  }
  .mobile-nav{
    z-index: 991;
    position: fixed;
    display:block;
    bottom: 0;
    height: 55px;
    background: var(--mobileBg);
    width: 100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin: bottom;
  }

  .mobile-nav ul{
    margin:0;
    padding:0;
    list-style: none;
    overflow:hidden;
  }
  .mobile-nav ul li{
    float: left;
  }
  .mobile-nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    width: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  .mobileNavBtn:checked ~ .mobile-nav{
    transform: scale(1,1);
  }
  .mobileNavBtn:checked ~ .mobile-nav a{
    opacity: 1;
    transition: opacity 350ms ease-in-out 250ms;
  }
  /*Footer for smaller screens*/
  .main-footer{
    position: relative;
    height: 100px;
    margin-left:0;
    width: 100%;
  }
/*Mobile size*/
@media screen and (max-width: 600px){
  .internship-flag:hover, .internship:active{
    height: 250px;
    border-bottom-right-radius: 150px;
  }
  p{
    font-size: 18px;
  }
  .inner-main{
    padding: 50px 15px 10px 15px;
  }
  .flex-table{
    width: 90%;
  }
  .card{
    width: 100%;
  }
  .sidebar-nav{
    display: none;
  }
  input{
    width: 100%;
    min-width: auto;
  }
  textarea{
    width: 100%;
  }
}
