body,html{
  padding:0;
  margin:0;
  min-height: 100%;
}
*{
  box-sizing: border-box;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

#aboutme-anchor{
  color: #00a867;
  font-size: 1.5em;
}
h2{
  font-size: 2em;
  letter-spacing: 2px;
  color: #7b728d;
}
/* SIDEBAR NAVIGATOR */
.sidebar{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  width: 25%;
  z-index: 990;
  color: #fff;
}
.sidebar-bg{
  position: absolute;
  z-index: -3;
  top:0;
  bottom:0;
  left:0;
  right:0;
  min-height: inherit;
  background: rgba(0, 0, 0, 0.7);
}
.sidebar-img{
  margin-top: 30px;
  width: 150px;
  height: 150px;
}

.sidebar-img img{
  border-radius: 180px;
  width: 100%;
  height: 100%;
}
.sidebar-header{
  margin-top: 25px;
  width: 220px;
  text-align: center;
}
.sidebar-header h1, .sidebar-header h3{
  font-family: 'Charmonman', cursive;
  letter-spacing: 1.5px;
  font-size: 1.3em;
  padding: 5px 0;
  margin: 0;
  color:  #ffffff;
}
.sidebar-header h3{
  font-weight: 100;
  font-size: 1em;
}
.sidebar-nav{
  width: 190px;
  margin: 20px auto;
}
.sidebar-nav ul{
  list-style: none;
  margin: 0;
  padding:0;
}
.sidebar-nav a{
  display: block;
  padding-top: 9px;
  margin:0;
  width: 100%;
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  text-decoration: none;
}
/*Link effects*/
.sidebar-nav a:after{
  content: ' ';
  display: inline-block;
  color:red;
  width: 0;
  height: 0;
  margin-left: 25px;
  opacity: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid rgba(238, 225, 123, 1);
  border-bottom: 5px solid transparent;
  transition: all 0.5s ease;
}
.sidebar-nav a:hover:after{
  opacity: 1;
  margin-left: 10px;
}
.sidebar-nav a:hover{
  color: #eced9d;
}
.sidebar-social a{
  color: #F2FFF7;
  font-size: 1.3em;
}
/*End of link effects*/
.sidebar-social{
  padding-top: 25px;
  width: 180px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.sidebar-social a:hover{
  color: #eced9d;
}
/*END SIDENAVBAR*/


/*MAIN */
.container{
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: -3;
  background-image: url("https://images.unsplash.com/photo-1508189860359-777d945909ef?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4ea2286eebd13b55b70d7c4e596e5e3f&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow-y: scroll;
  /* funkar inte för IE etc */
  /* scroll-behavior: smooth; */
}

.main-content{
  margin-left: 25.26%;
  max-width: 1000px;
  min-height: 100vh;
  background: #ffffff;
  box-shadow: 1px 2px 3px rgba(22,22,22,0.5);
}
.main-content h3{
  font-weight: 400;
  font-size: 1.1em;
  color: #009688;
}
.main-content p{
  color: #757575;
}
.main-content:nth-child(even){
  background: #f3f3f3;
}
.content-header{
  text-align: center;
  padding-top:25px;
  margin:0;
}
.inner-main{
  height: 100%;
  padding: 50px 60px 10px 60px;
  line-height: 1.7;
}

/*SKILL */
.skillset{
  width: 60%;
  height: 50%;
  margin: auto;
}

.flex-table{
  width: 70%;
  height: 50%;
  margin: auto;
  margin-top: 80px;
}
.row *{
  padding:0;
  margin:0;
}
.row p{
  margin-left: 5px;

}
.row .codebar{
  height: 25px;
  text-align: right;
  border-radius: 5px;
  opacity:0;
  transform: rotate();
  transition: all 1s ease-in-out;
}

.row .codebar *{
  margin-right: 5px;
}
.html-column{
  background: #ffbbbb;
  width: 10%;
}
.css-column{
  background: #eeb27b;
  width: 10%;
}
.js-column{
  background: #d7ede2;
  width: 10%;
}
/*STYLING PORTFOLIO*/
.card{
  width: 30%;
  margin-bottom: 50px;
  height: auto;
  background: #fff;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
  border-radius: 15px;
}
.card-img{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: flex-start;
  overflow:hidden;
}
.card-img img{
  z-index: 3;
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-content{
  z-index: 2;
  padding: 8px;
}
.card-text{
  height: 120px;
}
.flex-columns{
  display:flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-rows{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.card a{
  display: block;
  width: 95%;
  background: #ececec;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 5px auto;
  text-decoration: none;
  color: #3869b3;
}
.card a:hover{
  color: #18619c;
}

/*Hiding mobile nav*/
.mobile-nav{
  display:none;
}
.mobileNavBtn{
  display:none;
}


/*contact form styling*/
textarea{
  resize: vertical;
  width: 100%;
  margin: 5px 0;
  max-width: 400px;
  border:none;
  box-shadow: 0 0 1px  black;
  outline-color: rgba(12,123,41,0.5);
  border-radius: 5px;
}
input{
  display: block;
  padding-left: 5px;
  width: 40%;
  font-size: 19px;
  height: 35px;
  min-width: 400px;
  margin: 10px 0;
  border:none;
  box-shadow: 0 0 1px  black;
  outline-color: rgba(12,123,41,0.5);
  border-radius: 5px;
}
.form-group{
  margin: 25px 0;
}
button{
  display: block;
  align-self: flex-start;
  box-shadow: 0 0 1px  black;
  border:none;
  margin: 5px 0;
  background: #2196f3;
  color: #fff;
  font-size: 1.3em;
  height: auto;
  width: 100px;
  transition: background 200ms ease-in-out;
}
button:hover{
  background: #52b3ff;
}
button:focus{
	background: #52b3ff;
}
.inner-main ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.inner-main ul li{
  float: left;
}
.inner-main ul a{
  color: #858597;
  display:inline-block;
  margin-top: 25px;
}
.contact-social{
  margin-top: 50px;
}
.contact-social a:hover{
  color: #252525;
}
#honeypot {
  display: none; /*makes the field not visible to humans*/
}
#thankyou_message{
  display: block;
  text-align: center;
}
#thankyou_message h2{
  color: #2196f3;
  font-size: 1em;
}
@media screen and (max-width: 1100px){
  .card{
    width: 45%;
  }
}
@media screen and (max-width: 830px){
 :root {
  --mobileBg: #353539;
 }
  /* SIDEBAR NAVIGATOR HORIZONTAL*/
  .m-bg-img{
    position: absolute;
    top:0;
    width: 100%;
    z-index: -4;
    height: 100%;
    background-image:url('mbakgrund.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  .sidebar{
    position: relative;
    width: 100%;
    color: #fff;
  }
  .sidebar-bg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  /* Main content sections*/
  .container{
    position: relative;
    height: 100%;
    z-index: 0;
    overflow-y: hidden;
  }

  .main-content{
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 1px 2px 3px rgba(22,22,22,0.5);
  }
  .content-header{
    margin:0;
  }
  /* Portfolio 2 rows */
  .sidebar-nav{
    width: 100%;
    margin:0;
    order: 1;
  }
  .sidebar-img{
    margin-top: 50px;
    order:2;
  }
  .sidebar-header{
    margin: 25px;
    order:3;
  }
  .sidebar-social{
    order:4;
    margin-bottom: 10px;
  }
  .sidebar-content{
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*Getting nav to top right*/
  .sidebar-nav ul{
    display:flex;
    justify-content: flex-end;
  }
  .sidebar-nav ul li{
    float:left;
  }
  /*Disable old settings*/
  .sidebar-nav a:before,
  .sidebar-nav a:after{
    fill: unset;
  }
  .sidebar-nav a{
    margin-right: 1em;
  }

  /* Fixed Navigator bottom for smaller screens*/
  .navigator-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:10px;
    right: 10px;
    z-index:993;
    height: 40px;
    width: 40px;
    border-radius: 180px;
    background: var(--mobileBg);
  }
  .navigator-btn:hover{
    cursor:pointer;
  }
  .navigator-btn span,
  .navigator-btn span:before,
  .navigator-btn span:after{
    display: block;
    height: 2px;
    width: 20px;
    background: white;
    transition: 0.5s;
  }

  .navigator-btn span:after,
  .navigator-btn span:before{
    position: absolute;
    content: "";
  }
  .navigator-btn span:after{
    top: 13px;
  }
  .navigator-btn span:before{
    bottom: 13px;
  }
  /* Navigator button turns activ AKA X*/
  .hamburger{
    transition: 0.5s;
  }

  label.navigator-btn-active .hamburger{
    background: rgba(0,0,0,0);
  }
  label.navigator-btn-active .hamburger:before{
    transform: rotate(140deg);
    transition: 0.5s;
    position: relative;
    top: 0px;
  }
  label.navigator-btn-active .hamburger:after{
    transform: rotate(-140deg);
    transition: 0.5s;
    position: relative;
    top: -2px;
  }
  .mobile-nav{
    z-index: 991;
    position: fixed;
    display:block;
    bottom: 0;
    height: 55px;
    background: var(--mobileBg);
    width: 100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin: bottom;
  }

  .mobile-nav ul{
    margin:0;
    padding:0;
    list-style: none;
    overflow:hidden;
  }
  .mobile-nav ul li{
    float: left;
  }
  .mobile-nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 15px 25px;
    width: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  .mobileNavBtn:checked ~ .mobile-nav{
    transform: scale(1,1);
  }
  .mobileNavBtn:checked ~ .mobile-nav a{
    opacity: 1;
    transition: opacity 350ms ease-in-out 250ms;
  }


@media screen and (max-width: 600px){
  p{
    font-size: 18px;
  }
  .inner-main{
    padding: 50px 15px 10px 15px;
  }
  .flex-table{
    width: 90%;
  }
  .card{
    width: 100%;
  }
  .sidebar-nav{
    display: none;
  }
  input{
    width: 100%;
    min-width: auto;
  }
  textarea{
    width: 100%;
  }
}
